{%extends 'base.html'%}

{%block title%}New - Password Reset{%endblock%}

{%block content%}

  <div class="page-header">
    <h1>
      Password Reset
    </h1>
  </div>

  {%if validlink%}
    <div class="alert alert-info" style="text-align:center">
      <strong>So far, so good!</strong> All that's left is to enter your new password twice (so we can verify you typed it in correctly).
    </div>
    <form action="" method="post">
    {%csrf_token%}
      <div>
        {{form.new_password1.errors}}<label for="id_new_password1">New Password</label>
        {{form.new_password1}}
      </div>
      <div>
        {{form.new_password2.errors}}<label for="id_new_password2">Confirm Password</label>
        {{form.new_password2}}
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Change My Password" />
      </div>
    </form>
  {%else%}
    <div class="alert alert-error">
      <strong>Password reset unsuccessful!</strong> The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </div>
  {%endif%}
{%endblock%}
