{%extends 'base.html'%}

{%block title%}Password Reset{%endblock%}

{%block content%}

  <div class="page-header">
    <h1>
      Password Reset
    </h1>
  </div>

  {%if form.errors%}
    <div class="alert alert-error" style="text-align:center">
      The operation could not be performed because one or more error(s) occurred.<br>Please resubmit the form after making the proper changes.
    </div>
  {%endif%}

  <form action={%url django.contrib.auth.views.password_reset%} method=post>
    {%csrf_token%}
    {%if form.email.errors%}
      <div class="alert alert-error">
    {%else%}
      <div>
    {%endif%}
      <label for=id_email>Your Email</label>
      {{form.email}}
      {{form.email.errors}}
    </div>
    <div>
      <input class="btn btn-primary btn-large" type=submit value="Reset Password">
    </div>
  </form>

{%endblock%}
