{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class=page-header>
    <h1>
        {{ title }}
    </h1>
</div>

 <table class="table table-bordered">
    <thead>
        <tr>
            <th>Document</th>
        </tr>
    </thead>
 <tbody>
    {% for document in documents %}
        <tr>
            <td>{{ document.title }}</td>
        </tr>
    {% endfor %}
 </tbody>
 </table>

{% endblock content %}

{% block script %}
{% endblock script %}